[submodule "grakn-pytorch-geometric"]
	path = grakn-pytorch-geometric
	url = https://github.com/jorenretel/grakn-pytorch-geometric
[submodule "grakn-pytorch-example"]
	path = grakn-pytorch-example
	url = https://github.com/jorenretel/grakn-pytorch-example
[submodule "kglib"]
	path = kglib
	url = https://github.com/hkuich/kglib
