[submodule "grakn-pytorch-geometric"]
	path = typedb-pytorch-geometric
	url = https://github.com/bayer-science-for-a-better-life/grakn-pytorch-geometric.git
[submodule "grakn-pytorch-example"]
	path = typedb-pytorch-example
	url = https://github.com/bayer-science-for-a-better-life/grakn-pytorch-example.git
[submodule "kglib"]
	path = kglib
	url = https://github.com/hkuich/kglib.git
[submodule "gp-gene-expression"]
	path = gp-gene-expression
	url = https://github.com/bayer-science-for-a-better-life/gp-gene-expression.git
[submodule "graph-dash-app"]
	path = graph-dash-app
	url = https://github.com/bayer-science-for-a-better-life/graph-dash-app.git
[submodule "typedb-pytorch-geometric"]
	url = https://github.com/bayer-science-for-a-better-life/typedb-pytorch-geometric.git
[submodule "typedb-pytorch-example"]
	url = https://github.com/bayer-science-for-a-better-life/typedb-pytorch-example.git
